@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

body {
 background-color: white;
    font-family: 'Graduate', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #000;
}

header img {
  width: 100%;
  object-fit: cover;
  display:flex
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0;
  max-width: 1440px;
  margin: 0 auto;
}

main h1 {
  text-align: center;
  font-size: 36px;
  margin: 20px 0 5px 0;
}

.section {
  margin: 10% 0;
  position: relative;
   opacity: 0; /*invisible by default*/
}
.section.animated {
  animation: mymove 3s forwards; /*runs once class is added*/
}
 
  @keyframes mymove {
  from {
    left: -200px;
    opacity: 0;
    }
  to {
    left: 0px; 
    opacity: 1;
}
}
.section h2 {
  font-size: 24px;
  margin: 0 0 5px 0;
}

.row {
  display: flex;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
}

.row img {
  width: 340px;
  height: 399px;
  object-fit: cover;
  flex-shrink: 0;
}

.row p {
  width: 340px;
  height: 399px;
  background: #d9d9d9;
  padding: 20px;
  margin: 0;
  font-size: 20px;
  line-height: 1.4;
  box-sizing: border-box;
  flex-shrink: 0;
}

.vertical-line {
  position: absolute;
  left: -220px;
  height: 100%;
  width: 40px;
  background: #191919;
  z-index: -1;
}

footer img {
  width: 100%;
  object-fit: cover;
  display: flex;
}

@media (max-width: 768px) {
  .row {
   align-items: center;
    flex-direction: column;
  }
  .row img {
    width: 100%;
    height: auto;
  }
  .vertical-line {
    display: none;
  }
  .row p {
    width: auto;
    height: auto;
    margin: 5% 0%;
  }
}
